[default]

cmssw_dir = /user_mnt/user/mccartin/CMSSW/CMSSW_5_3_18/src/Mass/Validation
output_dir = /localgrid/mccartin/apps/pse_runner/output/
identifier = hitfitsel_signal_singletop_mix
mass_point = 172

[job]
walltime = 2:59:59
n_pseudoexps = 1000
splitting = 50